#logo{
    padding-top: 0.5em;
}

hr{
    text-align: center;
    background: #e44c65;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 20em;
    width: 75%;
}

section h3{
    text-align: left;
}